development: &development
  mongodb:
    host: localhost
    port: 27017
    name: mongo_mailer
  base_delivery_method: smtp
  base_delivery_settings:
    user_name: "username"
    password: "apikey"
    domain: "example.com"
    address: "smtp.example.com"
    port: 587
    authentication: plain
    enable_starttls_auto: true
  emergency_delivery_method: http_api
  emergency_delivery_settings:
    api_url: http://api.mailer.example.com
  log_level: info
production:
  <<: *development
test:
  <<: *development
  base_delivery_method: test1
  emergency_delivery_method: test2
  log_level: error